@model IncidentManagementSystem.Model.ServiceDto
@*@{
        ViewBag.Title = "GetService";
    }*@
<div class="container-fluid">
    <div class="row header">

        <div class="text">
            <span class="page input-icon">Service</span>

            <span class="detail">Text</span>
        </div>
    </div>
    <div class="col service">

        @using (Html.BeginForm("GetService", "Institution", FormMethod.Post, new { role = "form", id = "service-form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row">
            <div class="row inst-row-form">
                @Html.LabelFor(m => m.Institution, new { @class = "col-md-4 col-form-label l-inst" })
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.Institution, new { @class = "form-control b-inst" })
                </div>
            </div>

            <div class="row inst-row-form">
                @Html.LabelFor(m => m.ServiceName, new { @class = "col-md-4 col-form-label l-inst" })
                <div class="col-md-12">
                    @Html.TextBoxFor(m => m.ServiceName, new { @class = "form-control b-inst" })
                </div>
            </div>

            <div class="col-lg-4 form-group">
                <div class=" col-md-2">
                    <input type="submit" value="Register" class="btn btn-success" />
                </div>
            </div>

        </div>
        }
    </div>
</div>
