@model IncidentManagementSystem.Model.InstNameDto
@*@{
        ViewBag.Title = "InstitutionRegister";
    }*@



<div class="container-fluid reg-inst">


    <div class="row  ">
        <div class="row header">

            <div class="text">
                <span class="page input-icon">Register</span>

                <span class="detail">Institutions</span>
            </div>
        </div>

        <div class="row ins-row">


            <div class="col-lg-10">

                <div class="container-fluid justify-content-center  container-inst-style ">

                    @using (Html.BeginForm("InstitutionRegister", "Institution", FormMethod.Post, new { enctype = "multipart/form-data", role = "form", id = "ins-form" }))
                    {
                        @Html.AntiForgeryToken()

                        @Html.ValidationSummary("", new { @class = "text-danger" })

                        <div class="row">
                            <div class="col-lg-4 inst-row-form">
                                @Html.LabelFor(m => m.InstitutionName, new { @class = "col-md-4 col-form-label l-inst" })
                                <div class="col-lg-12">
                                    @Html.TextBoxFor(m => m.InstitutionName, new { @class = "form-control b-inst" })
                                </div>
                            </div>

                            <div class="col-lg-4 inst-row-form">
                                @Html.LabelFor(m => m.Country, new { @class = "col-md-4 col-form-label l-inst" })
                                <div class="col-lg-12">
                                    @Html.TextBoxFor(m => m.Country, new { @class = "form-control b-inst" })
                                </div>
                            </div>

                            <div class="col-lg-4 inst-row-form">
                                @Html.LabelFor(m => m.State, new { @class = "col-md-4 col-form-label l-inst" })
                                <div class="col-lg-12">
                                    @Html.TextBoxFor(m => m.State, new { @class = "form-control b-inst" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4  inst-row-form">
                                @Html.LabelFor(m => m.Address, new { @class = "col-md-4 col-form-label l-inst" })
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control b-inst" })
                                </div>
                            </div>
                            <div class="col-lg-4  inst-row-form">
                                @Html.LabelFor(m => m.ZipCode, new { @class = "col-md-4 col-form-label l-inst" })
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control b-inst" })
                                </div>
                            </div>
                            <div class="col-lg-4  inst-row-form">
                                @Html.LabelFor(m => m.Email, new { @class = "col-md-4 col-form-label l-inst" })
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control b-inst" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4  inst-row-form">
                                @Html.LabelFor(m => m.ContactNumber, new { @class = "col-md-4 col-form-label l-inst" })
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.ContactNumber, new { @class = "form-control b-inst" })
                                </div>
                            </div>

                            <div class="col-lg-4  inst-row-form">
                                @Html.LabelFor(m => m.ContactPersonAdmin, new { @class = "col-md-4 col-form-label l-inst" })
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.ContactPersonAdmin, new { @class = "form-control b-inst" })
                                </div>
                            </div>
                            <div class="col-lg-4  inst-row-form">
                                @Html.LabelFor(m => m.ContactPersonTechnical, new { @class = "col-md-4 col-form-label l-inst" })
                                <div class="col-md-12">
                                    @Html.TextBoxFor(m => m.ContactPersonTechnical, new { @class = "form-control b-inst" })
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 file-upload">

                            <div class="row">
                                <div class="col-lg-12 file-upload justify-content-center">
                                    <div class="inst-img" style="background-color:lightgray;">
                                        <a href="#" id="imageAnchor">
                                            <img id="preview" src="~/Image/photo-album-regular-24.png" class="card-img-top" alt="Preview" />
                                        </a>
                                    </div>

                                    <div class="row upload">
                                        <div class="col-lg-12">

                                            @*<label for="uploadReportFile">Select file to upload:</label><br />*@
                                            <input type="file" name="image" id="imageUpload" accept="image/*" onchange="previewImage(event)" class="form-control" style="width: 105px" />
                                        </div>
                                    </div>


                                    <div class="row justify-content-start buttom-inst">
                                        <div class="col-lg-4">
                                            <input type="submit" value="Upload" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row  form-group" style="margin-top:10px">
                            <div class="col-md-2">
                                <input type="submit" value="Register" class="btn btn-success btn-lg" />
                            </div>
                            <div class="col-md-2">
                                @*<input type="button" value="Clear Form" onclick="window.location.reload();" />*@
                                <input type="button" value="Clear" class="btn btn-secondary btn-lg " onclick="clearForm();" /> @*scrypt method*@
                            </div>
                        </div>
                    }

                </div>
            </div>
           
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var preview = document.getElementById('preview');
        var imageUpload = document.getElementById('imageUpload');

        imageAnchor.addEventListener('click', function () {
            imageUpload.click();
        });
    });
    function previewImage(event) {
        var input = event.target;
        var reader = new FileReader();
        reader.onload = function () {
            var imgElement = document.getElementById('preview');
            imgElement.src = reader.result;
            imgElement.style.display = 'block'; // Show the image preview
        }
        reader.readAsDataURL(input.files[0]);
    }
</script>

<script>
    function clearForm() {
        // Reset the form
        document.getElementById("ins-form").reset();

        // Reset the file input
        document.getElementById("imageUpload").value = "";

        // Reset the image preview
        document.getElementById("preview").src = "#";
        document.getElementById("preview").style.display = "block";
    }
</script>