@model IncidentManagementSystem.Model.InstNameDto
@*@{
        ViewBag.Title = "InstitutionRegister";
    }*@

<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<script src="https://code.jquery.com/jquery-3.1.1.min.js">

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js">

</script>

<style>

    .form-select {
        max-width: 280px !important;
        min-width: auto !important;
        border: 1px solid black !important;
        font-family: outfit-black !important;
    }

   
    .form-control {
        font-family: outfit-black !important;
    }

</style>



<div class="container-fluid reg-inst">
   
    <div class="row ">
        <div class="col-md-6 text">
            <span class="page input-icon">Register</span>
            <span class="detail">Institution</span>
        </div>

        <div class="col-md-6 col-sm-12 text-end" >
            <button type="button" class="btn btn-success btn-sm"   onclick="location.href='@Url.Action("Index","Institution")'">List</button>
        </div>
    </div>
      

        @using (Html.BeginForm("InstitutionRegister", "Institution", FormMethod.Post, new { enctype = "multipart/form-data", role = "form", id = "ins_form" }))
        {
            <div class="row" style="background-color: #ffffff; border-radius: 8px; ">
                <div class="col-xs-12">

                    <div class="row ins-row">
                        <div class="col-md-10">
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <div class="col-md-4 col-sm-12 ">
                                    <div class="col-md-12 col-sm-12 col-sx-12  inst-row-form">
                                        @Html.LabelFor(m => m.InstitutionName, new { @class = "col-md-6 col-form-label l-inst" })
                                        <div class="col-lg-12">
                                            @Html.TextBoxFor(m => m.InstitutionName, new { @class = "form-control b-inst" })
                                            @Html.ValidationMessageFor(m => m.InstitutionName, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class=" col-md-12 col-sm-12">
                                        @Html.LabelFor(m => m.ServiceIdList, "Services", new { @class = "col-md-4 col-form-label l-inst" })

                                        <div class="col-md-12 ">

                                            @Html.DropDownListFor(m => m.ServiceIdList, ViewBag.services as SelectList, "Select Services", new { @class = " form-select ui  multiple search selection dropdown selectService u-box", @multiple = "", id = "ServiceId" })

                                        </div>
                                    </div>
                                    <div class="col-md-12  col-sm-12 col-sx-12  inst-row-form">
                                        @Html.LabelFor(m => m.Email, new { @class = "col-md-4 col-form-label l-inst" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control b-inst" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-12  col-sm-12 col-sx-12  inst-row-form">
                                        @Html.LabelFor(m => m.ContactPersonAdmin, new { @class = "col-md-6 col-form-label l-inst" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.ContactPersonAdmin, new { @class = "form-control b-inst" })
                                            @Html.ValidationMessageFor(m => m.ContactPersonAdmin, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 ">
                                    <div class="col-md-12 col-sm-12 col-sx-12  inst-row-form">
                                        @Html.LabelFor(m => m.ContactNumber, new { @class = "col-md-6 col-form-label l-inst" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.ContactNumber, new { @class = "form-control b-inst" })
                                            @Html.ValidationMessageFor(m => m.ContactNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-12  col-sm-12  inst-row-form">
                                        @Html.LabelFor(m => m.Country, new { @class = "col-md-4 col-form-label l-inst" })
                                        <div class="col-lg-12">
                                            @Html.TextBoxFor(m => m.Country, new { @class = "form-control b-inst" })
                                            @Html.ValidationMessageFor(m => m.Country, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-12  col-sm-12  inst-row-form">
                                        @Html.LabelFor(m => m.State, new { @class = "col-md-4 col-form-label l-inst" })
                                        <div class="col-lg-12">
                                            @Html.TextBoxFor(m => m.State, new { @class = "form-control b-inst" })
                                            @Html.ValidationMessageFor(m => m.State, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12 ">
                                    <div class="col-md-12 col-sm-12  inst-row-form">
                                        @Html.LabelFor(m => m.Address, new { @class = "col-md-4  col-form-label l-inst" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.Address, new { @class = "form-control b-inst" })
                                            @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-12   col-sm-12 inst-row-form">
                                        @Html.LabelFor(m => m.ZipCode, new { @class = "col-md-4 col-form-label l-inst" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control b-inst" })
                                            @Html.ValidationMessageFor(m => m.ZipCode, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="col-md-12  col-sm-12 col-sx-12  inst-row-form">
                                        @Html.LabelFor(m => m.ContactPersonTechnical, new { @class = "col-md-6 col-sm-12  col-form-label l-inst" })
                                        <div class="col-md-12">
                                            @Html.TextBoxFor(m => m.ContactPersonTechnical, new { @class = "form-control b-inst" })
                                            @Html.ValidationMessageFor(m => m.ContactPersonTechnical, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-12 file-upload">
                            <div class="col-lg-12 file-upload justify-content-center" style="margin-left: 17px;">
                                <label for="file" id="file-text">Upload Image:</label>
                                <div class="inst-img" style="background-color:lightgray;">
                                    <a href="#" id="imageAnchor">
                                        <img id="preview" src="~/Image/photo-album-regular-24.png" class="card-img-top" alt="Preview" />
                                    </a>
                                </div>
                                <input type="file" name="file" id="file" accept="image/*" onchange="previewImage(event)" class="form-control" style="width: 94px; margin-top:5px;" />
                            </div>
                        </div>



                    </div>

                    <div class="row" style="margin-top:10px">
                        <div class="col-md-6 col-sm-12 col-sx-12" style="margin-left:31px; margin-bottom:20px;">
                            <input type="submit" value="Register" class="btn btn-success btn-lg" id="submit" />
                            <input type="reset" value="Clear" class="btn btn-secondary btn-lg " style="margin-left:20px;" onclick="clearForm();" />
                        </div>
                    </div>



                </div>
            </div>
        }



    </div>
<div class="modal" tabindex="-1" role="dialog" id="modalTaskComplete" style="margin-top:12rem; margin-left:40rem;">
    <div class="modal-dialog" role="document">
        <div class="modal-content col-md-4">
            <div class="modal-header text-center">
                <h4 class="modal-title">Status</h4>
            </div>
            <div class="modal-body text-center">
                <h4 class="@(@ViewBag.TaskStatus=="00"?"text-success":"text-danger")">@ViewBag.TaskMessage</h4>
            </div>
            <div class="modal-footer" style="padding:8px 8px 16px 8px;margin-top:0px">
                @if (@ViewBag.TaskStatus == "00")
                {
                    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" data-target="#modalTaskComplete" onclick="location.href='@Url.Action("Register","Account")'">Okay</button>
                }
                else
                {
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" data-target="#modalTaskComplete" onclick="location.href = '@Url.Action("InstitutionRegister","Institution")'">Okay</button>
                }
            </div>
        </div>
    </div>
</div>

<script>
    $('.ui.dropdown').dropdown();
</script>

@section scripts{

    <script>
       /* let serviceList = [];*/
        //$(document).ready(function () {
        //    $('.selectService').click(function (e) {
        //        debugger;
        //        e.preventDefault();
        //        var serviceName = $(this).text();
        //        var serviceValue = $(this).val();

        //        //var selectedServices = $('#selectedServices');

        //        if ($('#selectedServicesLabel').find('button:contains("' + serviceName + '")').length === 0) {
        //            // Create a new button element with cross icon
        //            var button = $('<button>').text(serviceName)
        //                .addClass('btn btn-primary mr-2 mb-2')
        //                .attr('type', 'button').css('margin-left', '10px')
        //                .append($('<span>').addClass('ml-2').css({ 'color': 'red', 'margin-left': '5px' }).html('&times;'));
        //            serviceList.push(serviceValue);
        //            // Append the button to the 'selectedServicesLabel' div
        //            $('#selectedServicesLabel').append(button);

        //            console.log(serviceList);

        //            // Add click event to remove the button
        //            button.click(function (e) {
        //                debugger;
        //                const index = serviceList.indexOf(serviceValue);
        //                if (index > -1) { // only splice array when item is found
        //                    serviceList.splice(index, 1); // 2nd parameter means remove one item only
        //                }
        //                console.log(serviceList);
        //                //serviceList.
        //                $(this).remove();  // Remove the button itself when clicked
        //            });
        //        } else {
        //            // Handle the case where the button already exists
        //            console.log('Button for "' + serviceName + '" already selected.');
        //        }
        //    });


            //$('#submit').click(function () {
            //    debugger;
            //    var services = serviceList.join(',');
            //    $("<input>").attr({
            //        name: "ServiceIdList",
            //        id: "hiddenId",
            //        type: "hidden",
            //        value: services
            //    }).appendTo("#ins_form");

            //    //$('#ins_form').append('<input type="hidden" name="fieldname" value="" />');

            //});
        //});

        // Show the image preview
        document.addEventListener("DOMContentLoaded", function () {
            var preview = document.getElementById('preview');
            var file = document.getElementById('file');

            imageAnchor.addEventListener('click', function () {
                file.click();
            });
        });

        function previewImage(event) {
            var input = event.target;
            var reader = new FileReader();
            reader.onload = function () {
                var imgElement = document.getElementById('preview');
                imgElement.src = reader.result;
                imgElement.style.display = 'block'; // Show the image preview
            }
            reader.readAsDataURL(input.files[0]);



        }

        function clearForm() {
            // Reset the form
            document.getElementById("ins-form").reset();

            // Reset the file input
            document.getElementById("imageUpload").value = "";

            // Reset the image preview
            document.getElementById("preview").src = "#";
            document.getElementById("preview").style.display = "block";
        }



        $(document).ready(function () {
            var status= '@ViewBag.TaskStatus';
            if (status !== null && status !== '')
            {
                $("#modalTaskComplete").show();
            }
         });


    </script>
}

