@model IncidentManagementSystem.Model.RegisterServiceDto
@*@{
    ViewBag.Title = "RegisterService";
}*@

<div class="container-fluid">
    <div class="row header">

        <div class="text">
            <span class="page input-icon">Service</span>

            <span class="detail">Text</span>
        </div>
    </div>
    @*<div class="col service">

        @using (Html.BeginForm("RegisterService", "Institution", FormMethod.Post, new { role = "form", id = "service-form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="row">
                <div class="row inst-row-form">
                    @Html.LabelFor(m => m.InstId, new { @class = "col-md-4 col-form-label l-inst" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.InstId, new { @class = "form-control b-inst" })
                    </div>
                </div>

                <div class="row inst-row-form">
                    @Html.LabelFor(m => m.serviceName, new { @class = "col-md-4 col-form-label l-inst" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(m => m.serviceName, new { @class = "form-control b-inst" })
                    </div>
                </div>

                <div class="col-lg-4 form-group">
                    <div class=" col-md-2">
                        <input type="submit" value="Register" class="btn btn-success" />
                    </div>
                </div>

                <div class="col-lg-4 s-dash">
                    <input type="button" value="Create" class="btn btn-success btn-width" onclick="location.href='@Url.Action("RegisterService", "Institution")'" id="createInst" />
                </div>

            </div>
        }
    </div>*@
</div>
