<!DOCTYPE html>
<html style="height:100%">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/login-style.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />

</head>
<body>
    <nav class="sidebar">
        <img src="~/Image/Logo.png" />


        <div class="menu-content">
            <ul class="menu-items">
                @*<div class="menu-title">Your menu title</div>*@

                <li class="item">
                    <a href="#">Dashboard</a>
                </li>

                <li class="item">
                    @Html.ActionLink("User Register", "Register", "Account", new { area = "User Registe" }, new { @class = "nav-link" })

                </li>
                <li class="item">
                    @Html.ActionLink("Institution Register", "InstitutionRegister", "Institution", new { area = "Instution Register" }, new { @class = "nav-link" })

                </li>
                <li class="item">
                    <a href="#">Reports</a>
                </li>
                <li class="item">
                    <a href="#">Services</a>
                </li>
                <li class="item">
                    <a href="#">Contact Us</a>
                </li>


            </ul>
        </div>
    </nav>
    <nav class="navbar" style="position:relative">
        <i class="fa-solid fa-bars" id="sidebar-close"></i>
    </nav>
    <div class="swarup" style="height: 100%; margin-left: 300px; margin-top: 32px; background-color: #F7F8F7; margin-top:0px;">

        @*<div style="display:none">*@
        @RenderBody()
        @*</div>*@
        @*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>

    <script src="~/Content/JavaScript-sidebar.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>