<!DOCTYPE html>
<html style="height:100%">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/login-style.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />

    <!--==== Boxicons CSS ====-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body style="overflow: hidden;">
    <nav class="sidebar">
        <img src="~/Image/Logo.png" id="logo" />


        <div class="menu-content">
            <ul class="menu-items">
                @*<div class="menu-title">Your menu title</div>*@
                @*<li class="item">
            <a href="Dashboad/Home">
                <i class='bx bxs-dashboard  icon'></i>
                <span class="text nav-text">Dashboard</span>
            </a>
        </li>*@

                <li class="item">
                    @Html.Raw(Html.ActionLink("Dashboad", "Dashboard", "Home", new { area = "" }, new { @class = "nav-link" }).ToString().Replace("Dashboad", "<span class='bx bxs-dashboard icon'></span> Dashboard"))
                </li>

                <li class="item">
                    @Html.Raw(Html.ActionLink("User Register", "Register", "Account", new { area = "" }, new { @class = "nav-link" }).ToString().Replace("User Register", "<span class='bx bxs-user icon'></span> User Register"))
                </li>

                <li class="item">
                    @Html.Raw(Html.ActionLink("Institution Register", "InstitutionRegister", "Institution", new { area = "" }, new { @class = "nav-link" }).ToString().Replace("Institution Register", "<span class='bx bxs-building-house icon'></span> Institution Register"))
                </li>

                <li class="item">
                    @Html.Raw(Html.ActionLink("ServiceLink", "GetService", "Institution", new { area = "" }, new { @class = "nav-link" }).ToString().Replace("ServiceLink", "<span class='bx bxs-cog icon'></span> Service"))
                </li>
                <li class="item">
                    @Html.Raw(Html.ActionLink("TicketLink", "Ticket", "Institution", new { area = "" }, new { @class = "nav-link" }).ToString().Replace("TicketLink", "<span class='bx bxs-cog icon'></span> Ticket"))
                </li>


                @*<li class="item">
            <a href="#">Services</a>
        </li>*@
                <li class="item">
                    <a href="#">Contact Us</a>
                </li>

            </ul>
        </div>
    </nav>
    <nav class="navbar" style="position:relative">
        <i class="fa-solid fa-bars" id="sidebar-close"></i>
    </nav>
    <div class="main">

        @*<div style="display:none">*@
        @RenderBody()
        @*</div>*@
        @*<hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>*@
    </div>

    <script src="~/Content/JavaScript-sidebar.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>