@model IncidentManagementSystem.Models.RegisterViewModel

<style>
    .form-control {
        font-family: outfit-black !important;
    }

    .form-select {
      
        font-family: outfit-black !important;
    }
</style>
<div class="container-fluid reg">

    <div class="row ">
        <div class="col-md-6 text">
            <span class="page input-icon">Register</span>

            <span class="detail">Users</span>
        </div>
        <div class="col-md-6 col-sm-12 text-end">
            <button type="button" class="btn btn-success btn-sm" onclick="location.href='@Url.Action("Index","User")'">List</button>
        </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="card p-4" style="border-radius: 8px;">
                    <div class="form-group row mb-3">
                        @Html.LabelFor(m => m.UserName, new { @class = "col-md-4 col-form-label l-user" })
                        <div class="col-md-8">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control u-box" })
                            @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        @Html.LabelFor(m => m.InsId, new { @class = "col-md-4 col-form-label l-user" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(m => m.InsId, ViewBag.Institution as SelectList, "-Select Institution-", new { @class = "form-select u-box" })
                            @Html.ValidationMessageFor(m => m.InsId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        @Html.LabelFor(m => m.UserRole_Id, new { @class = "col-md-4 col-form-label l-user" })
                        <div class="col-md-8">
                            @Html.DropDownListFor(m => m.UserRole_Id, ViewBag.UserRole as SelectList, "-Select Role-", new { @class = "form-select u-box" })
                            @Html.ValidationMessageFor(m => m.UserRole_Id, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-4 col-form-label l-user" })
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control u-box" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 col-form-label l-user" })
                        <div class="col-md-8">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control u-box" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row mb-3">
                        <div class="col-md-12 text-center">
                            <input type="submit" value="Register" class="btn btn-success gap" />
                            <input type="reset" value="Cancel" class="btn btn-danger gap-c" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="modalTaskComplete" aria-labelledby="modalTaskCompleteLabel" aria-hidden="true" style="margin-top:12rem; margin-left:40rem;">
    <div class="modal-dialog" role="document">
        <div class="modal-content col-md-4">
            <div class="modal-header text-center">
                <h4 class="modal-title" id="modalTaskCompleteLabel">Status</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <h4 class="@(@ViewBag.TaskStatus=="00"?"text-success":"text-danger")">@ViewBag.TaskMessage</h4>
            </div>
            <div class="modal-footer" style="padding:8px 8px 16px 8px;margin-top:0px">
                @if (@ViewBag.TaskStatus == "00")
                {
                    <button type="button" class="btn btn-success btn-sm" data-dismiss="modal" data-target="#modalTaskComplete" onclick="location.href='@Url.Action("Index","User")'">Okay</button>
                }
                else
                {
                    <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal" data-target="#modalTaskComplete" onclick="location.href = '@Url.Action("Register","Account")'">Okay</button>
                }

            </div>

        </div>
    </div>
</div>



@section Scripts{
    <script>

        $(document).ready(function () {

            var status= '@ViewBag.TaskStatus';
            if (status !== null && status !== '')
            {
                $("#modalTaskComplete").show();
            }
        });


    </script>
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")

