@model IncidentManagementSystem.Model.TicketDto

<div class="container-fluid">
    <div class="col-lg-12 header ">
        <div class="header-text">
            <h2>Ticket </h2>
        </div>
        <div class="col text">
            <span class="page input-icon">Ticket</span>

            <span class="detail">Ticket Create </span>
        </div>
    </div>


    <div class="col ticket">
        @using (Html.BeginForm("Create", "Ticket", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="row">
                    <div class="col-lg-4 inst-row-form">
                        @Html.LabelFor(m => m.InstId, new { @class = "col-md-4 col-form-label l_ticket" })
                        <div class="col">
                            @Html.DropDownListFor(m => m.InstId, ViewBag.Institution as SelectList, "-Select Institution-", new { @class = "form-select u-box" })
                            @Html.ValidationMessageFor(m => m.InstId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 inst-row-form">
                        @Html.LabelFor(m => m.ServiceId, new { @class = "col-md-4 col-form-label l_ticket" })
                        <div class="col-lg-12">
                            @Html.DropDownListFor(m => m.ServiceId, ViewBag.services as SelectList, "-Select Service-", new { @class = "form-select u-box" })
                            @Html.ValidationMessageFor(m => m.ServiceId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 inst-row-form">
                        @Html.LabelFor(m => m.IssueId, new { @class = "col-md-4 col-form-label l_ticket" })
                        <div class="col-lg-12">
                            @Html.DropDownListFor(m => m.IssueId, ViewBag.Issues as SelectList, "-Select Issue-", new { @class = "form-select u-box" })
                            @Html.ValidationMessageFor(m => m.IssueId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 inst-row-form">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-4 col-form-label l_ticket" })
                        <div class="col-lg-12">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control b-inst" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 inst-row-form">
                        @Html.LabelFor(m => m.CellNumber, new { @class = "col-md-4 col-form-label l_ticket" })
                        <div class="col-lg-12">
                            @Html.TextBoxFor(m => m.CellNumber, new { @class = "form-control b-inst" })
                            @Html.ValidationMessageFor(m => m.CellNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 inst-row-form">
                        @Html.LabelFor(m => m.Description, new { @class = "col-md-4 col-form-label l_ticket" })
                        <div class="mb-3">
                            @Html.TextAreaFor(m => m.Description, new { @class = "form-control b-inst" })
                            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 img-upload">
                        <div>
                            <label for="file">Upload Image:</label>

                            <div class="tik-img" style="background-color:lightgray;">
                                <a href="#" id="imageAnchor">
                                    <img id="preview" src="~/Image/photo-album-regular-24.png" class="card-img-top" alt="Preview" style=" width: 280px; height:180px " />
                                </a>
                            </div>

                            <input type="file" name="file" id="file" accept="image/*" onchange="previewImage(event)" class="form-control" style="width: 105px" required />

                        </div>
                        @*@Html.LabelFor(m => m.ImageUrl, new { @class = "col-md-12 col-form-label l_ticket" })
                            <div class="tik-img" style="background-color:lightgray;">
                                <a href="#" id="imageAnchor">
                                    <img id="preview" src="~/Image/photo-album-regular-24.png" class="card-img-top" alt="Preview" style=" width: 280px; height:180px " />
                                </a>
                            </div>

                            <div class="row upload">
                                <div class="col-lg-12">
                                    <input type="file" name="image" id="imageUpload" accept="image/*" onchange="previewImage(event)" class="form-control" style="width: 105px" />
                                </div>
                            </div>*@
                    </div>
                </div>

                <div class="row  buttom-ticket">
                    <div class="col-md-2">
                        <input type="submit" value="Register" class="btn btn-primary btn-lg" id="submit" />
                    </div>
                </div>

            </div>
        }


        <hr />
        @if (ViewBag.PreviousTickets != null && ViewBag.PreviousTickets.Count > 0)
        {
            <h3>Previous Tickets</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var prevTicket in ViewBag.PreviousTickets)
                    {
                        <tr>
                            <td>@prevTicket.Description</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No previous tickets found.</p>
        }
    </div>

</div>


@section scripts{
    <script>
        $(document).ready(function () {
        debugger;
            $("#InstId").on("change", function () {
            debugger;
            const InstId = $('#InstId').val();
            $('#ServiceId').html("");
            $('#ServiceId').append($('<option disabled selected value>-Select Services-</option>'));
                $.ajax({
                    method: "GET",
                    url: '@Url.Action("InstService")',
                    data: { InstId: InstId },
                    success: function (result) {
                        debugger;
                        //// Append the retrieved service to the dropdown
                        $.each(result, function (i, service) {
                            $('#ServiceId').append($('<option>', {
                                value: service.ServiceId,
                                text: service.ServiceName
                            }));
                        });
                    }
                });
            });
        });

        $(document).ready(function () {
        debugger;
            $("#ServiceId").on("change", function () {
            debugger;
                const ServiceId = $('#ServiceId').val();
                $('#IssueId').html("");
                $('#IssueId').append($('<option disabled selected value>-Select Issue-</option>'));
                $.ajax({
                    method: "GET",
                    url: '@Url.Action("ServiceIssue")',
                    data: { ServiceId: ServiceId },
                    success: function (result) {
                        debugger;
                        //// Append the retrieved Issues to the dropdown
                        $.each(result, function (i, Issues) {
                            $('#IssueId').append($('<option>', {
                                value: Issues.IssueId,
                                text: Issues.IssueName
                            }));
                        });
                    }
                });
            });
        });



        document.addEventListener("DOMContentLoaded", function () {
            debugger;
            var preview = document.getElementById('preview');
            var file = document.getElementById('file');

            imageAnchor.addEventListener('click', function () {
                file.click();
            });
        });
        function previewImage(event) {
            var input = event.target;
            var reader = new FileReader();
            reader.onload = function () {
                var imgElement = document.getElementById('preview');
                imgElement.src = reader.result;
                imgElement.style.display = 'block'; // Show the image preview
            }
            reader.readAsDataURL(input.files[0]);
        }


        
    </script>
}
