@using IncidentManagementSystem.Model
@model List<TicketDto>

<table class="table">
    <tr>
        <th>Ticket Id</th>
        <th>Instution Name </th>
        <th>Service Name</th>
        <th>Issue</th>
        <th>CellNumber</th>
        <th>Email</th>
        <th>Ststus</th>
        <th>Detail</th>
       
       
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TicketId)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.InstId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CellNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.ImageUrl)
        </td>*@
            <td>
                @Html.ActionLink("Details", "TicketDetail", "Ticket", new RouteValueDictionary { { "TicketId", item.TicketId } }, null)
            </td>

        </tr>
    }

</table>

