@using IncidentManagementSystem.Model
@model List<TicketDto>
@{
    int sno = 0; // Initialize serial number
}
<style>
    .pagination {
        display: inline-block;
    }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
        }

            .pagination a.active {
                background-color: #4CAF50;
                color: white;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
            }
</style>

<div class="panel panel-default overflow-auto" style="max-height:600px">
    <table class="table table-striped">
        <thead class="whitespace-nowrap">
            <tr>
                <th>S No.</th>
                <th>Ticket Id</th>
                <th>Institution Name </th>
                <th>Service Name</th>
                <th>Issue</th>
                <th>CellNumber</th>
                <th>Email</th>
                <th>Status</th>
                <th>Detail</th>


            </tr>
        </thead>
        <tbody class="whitespace-nowrap">
            @foreach (var item in Model)
            {
                sno++;
                <tr>
                    <td>@sno</td>
                    <td>@item.TicketId</td>
                    <td>@item.InstId</td>
                    <td>@item.ServiceId</td>
                    <td>@item.IssueId</td>
                    <td>@item.CellNumber</td>
                    <td>@item.Email</td>
                    <td>
                        @{
                            switch (item.status)
                            {
                                case "00":
                                    <label style="color: green">Active</label>
                                    break;
                                case "98":
                                    <label style="color: darkorange">Pending</label>
                                    break;
                                case "LO":
                                    <label>Initial</label>
                                    break;
                                case "94":
                                    <label style="color: red">Rejected</label>
                                    break;
                            }
                        }
                    </td>

                    <td>
                        @Html.ActionLink("Details", "TicketDetail", "Ticket", new RouteValueDictionary { { "TicketId", item.TicketId } }, null) |
                        @Html.ActionLink("Resolve", "TicketResolve", "Ticket", new RouteValueDictionary { { "TicketId", item.TicketId } }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div>
    <div class="pagination">
        @if (ViewBag.CurrentPage > 1)
        {
            <a href="#" onclick="searchTickets(@(ViewBag.CurrentPage - 1)); return false;">&laquo; Previous</a>
        }
        else
        {
            <span>&laquo; Previous</span>
        }

        @for (int i = 1; i <= ViewBag.TotalPages; i++)
        {
            <a href="#" onclick="searchTickets(@i); return false;" class="@(i == ViewBag.CurrentPage ? "active" : "")">@i</a>
        }

        @if (ViewBag.CurrentPage < ViewBag.TotalPages)
        {
            <a href="#" onclick="searchTickets(@(ViewBag.CurrentPage + 1)); return false;">Next &raquo;</a>
        }
        else
        {
            <span>Next &raquo;</span>
        }
    </div>
</div>

<script>
function searchTickets(page) {
    $.ajax({
        url: '@Url.Action("Search", "Ticket")',
        type: 'GET',
        data: {
            search: $('#search').val(),
            InstId: $('#InstId').val(),
            status: $('#status').val(),
            page: page
        },
        success: function (result) {
            $('#partialTicketContainer').html(result);
        },
        error: function (xhr, status, error) {
            console.error("An error occurred: " + status + " " + error);
        }
    });
}
</script>