@model IncidentManagementSystem.Model.ResolvedByDto

<style>
    .dl-horizontal {
        background-color: #fff;
        font-family: outfit-black;
        border-radius: 8px;
        padding: 20px;
    }
    }

    .dl-horizontal dt {
        text-align: right !important;
        width: auto;
        clear: left;
        float: left;
        margin-left: 12px;
        margin-right: 10px;
        font-family: outfit-black;
        font-weight: 600;
        white-space: normal;
    }

    .dl-horizontal dd {
        margin-top: -30px;
        margin-right: 20px;
        margin-left: 230px;
        margin-bottom: 20px;
    }

    .resolve {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
</style>

<div class="container-fluid ">
    <div class="col-lg-12 header ">
        <div class="header-text">
        </div>
        <div class="col text">
            <span class="page input-icon">Ticket Resolve</span>

            <span class="detail">Resolve By </span>
        </div>
    </div>

    @using (Html.BeginForm("TicketResolve", "Ticket", FormMethod.Post, new { role = "form" }))
    {
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 ticket">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Username)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control b-inst", @readonly = "readonly" })
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TranDateTime)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(m => m.TranDateTime, new { @class = "form-control b-inst", @readonly = "readonly" })
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TicketId)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(m => m.TicketId, new { @class = "form-control b-inst", @readonly = "readonly" })
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.InstId)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(m => m.InstId, new { @class = "form-control b-inst", @readonly = "readonly" })
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.IssueId)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(m => m.IssueId, new { @class = "form-control b-inst", @readonly = "readonly" })
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Resolve)
                    </dt>
                    <dd>
                        @Html.TextBoxFor(m => m.Resolve, new { @class = "form-control b-inst" })
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd>
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control b-inst" })
                    </dd>


                </dl>
            </div>
            <div class="row mt-3" style="margin-left:5px;">
                <div class="col-lg-1 col-md-2">
                    <dt>
                        <input type="submit" value="Submit" class="btn btn-success btn-width" />

                    </dt>
                </div>
            </div>
        </div>
     }
 </div>

<div class="modal" tabindex="-1" role="dialog" id="modalTaskComplete"   style="margin-top:12rem;">
    <div class="modal-dialog" role="document">
        <div class="modal-content col-md-9">
            <div class="modal-header text-center">
                <h4 class="modal-title">Status</h4>
            </div>
            <div class="modal-body text-center">
                <h4 class="@(@ViewBag.TaskStatus=="00"?"text-success":"text-danger")">@ViewBag.TaskMessage</h4>
            </div>
            <div class="modal-footer" style="padding:8px 8px 16px 8px;margin-top:0px">
                @if (@ViewBag.TaskStatus == "00")
                {
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" data-target="#modalTaskComplete" onclick="location.href = '@Url.Action("Index","Ticket")'">Okay</button>
                }
                else
                {
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" data-target="#modalTaskComplete" onclick="location.href = '@Url.Action("TicketDetail","Ticket")'">Okay</button>
                }

            </div>

        </div>
    </div>
</div>


@section scripts{
    <script>
        $(document).ready(function () {
           debugger;
           var status= '@ViewBag.TaskStatus';
           if (status !== null && status !== '')
           {
               $("#modalTaskComplete").show();
           }
        });
    </script>
}