@model IEnumerable<IncidentManagementSystem.Model.UserInfo>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
@{
    int sno = 0; // Initialize serial number
}
@if (Model != null && Model.Any())
{
    <div class="panel panel-default overflow-auto">
        <table class="table table-striped">
            <thead class="whitespace-nowrap">
                <tr>
                    <th>S No.</th>
                    <th>Username</th>
                    <th>InstId</th>
                    <th>Roles</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody class="whitespace-nowrap">
                @foreach (var item in Model)
                {
                    sno++;
                    <tr>
                        <td>@sno</td>
                        <td>@item.Username</td>
                        <td>@item.InstId</td>
                        <td>@item.Roles</td>
                        <td>@item.Email</td>
                    </tr>
                }
            </tbody>

        </table>
        @*}
            else
            {
            <p>No data available.</p>*@
    </div>

}
@Scripts.Render("~/bundles/bootstrap")
