@model IEnumerable<IncidentManagementSystem.Model.UserInfo>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
@if (Model != null && Model.Any())
{
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InstId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Roles)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InstId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Roles)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>

                </tr>
            }
        </tbody>

    </table>
}
else
{
    <p>No data available.</p>
}
@Scripts.Render("~/bundles/bootstrap")
