<!--@model IncidentManagementSystem.Models.EditProfileViewModel

@Html.HiddenFor(m => m.Id);-->
@*<form method="post" action="@Url.Action("EditUser", "Manage")">*@
<!--<div class="form-group row mb-3 mt-2">
    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 col-form-label l-user" })
    <div class="col-md-4">
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control u-box" })
    </div>
</div>
<div class="form-group row mb-3 mt-2">
    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 col-form-label l-user" })
    <div class="col-md-4">
        @Html.PasswordFor(m => m.Password, new { @class = "form-control u-box" })
    </div>
</div>
<div class="form-group row mb-3 mt-2">
    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 col-form-label l-user" })
    <div class="col-md-4">
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control u-box" })
    </div>
</div>
<div class="form-group">
    <button type="submit" class="btn btn-primary">Change Password</button>
</div>


<div>
    @TempData["SuccessMessage"]
</div>-->

@*  </form>*@