@model IncidentManagementSystem.Models.IndexViewModel
@{
    ViewBag.Title = "Profile";
}
<style>
    .dl-horizontal {
        /* background-color: #fff;*/
        font-family: outfit-black;
        border-radius: 8px;
        padding: 20px;
    }


        .dl-horizontal dt {
            text-align: right;
            width: auto;
            clear: left;
            float: left;
            margin-left: 12px;
            margin-right: 10px;
            font-family: outfit-black;
            font-weight: 600;
            white-space: normal;
        }

        .dl-horizontal dd {
            margin-left: 230px;
            margin-bottom: 20px;
        }
</style>

<div class="container-fluid reg">
    <div class="row ">
        <div class="col-md-6 text">
            <span class="page input-icon">Profile</span>
            <span class="detail">Change your account settings</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12" style="padding:8px; border-radius:8px; background:white;">

            <dl class="dl-horizontal">
                @*<dt>Edit Profile:</dt>
                <dd>
                    [
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Edit", "ProfileEdit")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    ]
                </dd>*@
                <dt>Password:</dt>
                <dd>
                    [
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    ]
                </dd>
                @*<dt>External Logins:</dt>
                <dd>
                    @Model.Logins.Count [
                    @Html.ActionLink("Manage", "ManageLogins") ]
                </dd>*@
                @*
        Phone Numbers can used as a second factor of verification in a two-factor authentication system.

        See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
            for details on setting up this ASP.NET application to support two-factor authentication using SMS.

        Uncomment the following block after you have set up two-factor authentication
                *@
                @*
        <dt>Phone Number:</dt>
        <dd>
            @(Model.PhoneNumber ?? "None")
            @if (Model.PhoneNumber != null)
            {
                <br />
                <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                }
            }
            else
            {
                <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
            }
        </dd>
                *@
                @*<dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication.
            </p>*@
                @*@if (Model.TwoFactor)
        {
            using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>Enabled
                <input type="submit" value="Disable" class="btn btn-link" />
                </text>
            }
        }
        else
        {
            using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>Disabled
                <input type="submit" value="Enable" class="btn btn-link" />
                </text>
            }
        }*@
                @*</dd>*@
            </dl>
        </div>
    </div>
</div>
