@model IncidentManagementSystem.Model.AdminDashboardDto

<h1>dashoard</h1>
<style>
    .col-6 {
        padding-right: 7.5px;
        padding-left: 7.5px;
        /*height: 200px;

        display: block;
        margin-bottom: 20px;
        position: relative;*/
        /* margin-top: 10px;
        margin-right: 20px;
        margin-bottom: 15px;
        margin-left: 25px;*/
        /**/
        /* padding-right: 7.5px;
        padding-left: 7.5px;
        border-radius: .25rem;
        box-sizing: border-box;
        flex: 0 0 50%;
        max-width: 50%;
        width: 100%*/
    }


    .icon i {
        transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    }

        .icon i:hover {
            color: rgba(0, 0, 0, .15);
            transform: scale(1.1);
        }

    .small-box a {
        transition: color 0.3s, transform 0.3s, background-color 0.3s ease;
    }

        .small-box a:hover {
            color: #FFFFFF;
            background-color: rgba(0, 0, 0, .2);
        }

    .small-box {
        border-radius: .25rem;
        box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
        display: block;
        margin-bottom: 20px;
        position: relative;
        box-sizing: border-box;
        color: #fff !important;
    }

        .small-box .inner {
            padding: 10px;
        }

        .small-box .icon {
            color: rgba(0, 0, 0, .15);
            font-size: 70px;
            position: absolute;
            right: 15px;
            top: -5px;
            transition: -webkit-transform .3s linear;
            transition: transform .3s linear;
            transition: transform .3s linear, -webkit-transform .3s linear;
        }

        .small-box .small-box-fotter {
            background-color: rgba(0, 0, 0, .1);
            color: rgba(255, 255, 255, .8);
            display: block;
            padding: 3px 0;
            position: relative;
            text-align: center;
            text-decoration: none;
            z-index: 10;
        }

    .small-box-fotter .size {
        font-size: 16px;
        color: #fff !important;
    }

    .bg-info {
        color: #fff !important;
    }

    .Font {
        font-size: 24px;
        font-family: outfit-black;
        font-weight: 400;
    }

    /* Hide CanvasJS credit link */
    .canvasjs-chart-credit {
        display: none !important;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
            <div class="small-box bg-info">
                <div class="inner">
                    <span class="Font">User</span>
                    <h3>@ViewBag.TotalUsers</h3>
                </div>
                <div class="icon">
                    <i class='bx bxs-user'></i>
                </div>
                <a href="#" class="small-box-fotter">
                    <span class="size">More Info</span>
                    <i class='bx bxs-right-arrow-circle size'></i>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="small-box bg-info">
                <div class="inner">
                    <span class="Font">Institution</span>

                    <h3>@ViewBag.TotalInstitution</h3>
                </div>
                <div class="icon">
                    <i class='bx bxs-bank'></i>
                </div>
                <a href="#" class="small-box-fotter">
                    <span class="size">More Info</span>
                    <i class='bx bxs-right-arrow-circle size'></i>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="small-box bg-info">
                <div class="inner">
                    <span class="Font">Ticket</span>

                    <h3>@ViewBag.TotalTicket</h3>
                </div>
                <div class="icon">
                    <i class='bx bxs-credit-card'></i>
                </div>
                <a href="#" class="small-box-fotter">
                    <span class="size">More Info</span>
                    <i class='bx bxs-right-arrow-circle size'></i>
                </a>
            </div>
        </div>
        @*<div class="col-12 col-sm-6 col-md-2">
            <div class="small-box bg-warning">
                <div class="inner">
                    <span class="Font">Ticket Panding</span>

                    <h3>@ViewBag.TotalPandinglist</h3>
                </div>
                <div class="icon">
                    <i class='bx bxs-timer'></i>
                </div>
                <a href="#" class="small-box-fotter">
                    <span class="size">More Info</span>
                    <i class='bx bxs-right-arrow-circle size'></i>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-2">
            <div class="small-box bg-success">
                <div class="inner">
                    <span class="Font">Ticket Resolved</span>

                    <h3>@ViewBag.TotalTicketResolve</h3>
                </div>
                <div class="icon">
                    <i class='bx bxs-check-circle'></i>
                </div>
                <a href="#" class="small-box-fotter">
                    <span class="size">More Info</span>
                    <i class='bx bxs-right-arrow-circle size'></i>
                </a>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-2">
            <div class="small-box bg-danger">
                <div class="inner">
                    <span class="Font">Ticket Reject</span>

                    <h3>@ViewBag.TicketReject</h3>
                </div>
                <div class="icon">
                    <i class='bx bxs-x-circle'></i>
                </div>
                <a href="#" class="small-box-fotter">
                    <span class="size">More Info</span>
                    <i class='bx bxs-right-arrow-circle size'></i>
                </a>
            </div>
        </div>*@
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <div id="chartContainer" style="height: 370px; width: 100%; padding-right:10px;"></div>
    </div>
    @*<div class="col-lg-4">

    </div>*@
    <div class="col-lg-4">
        <div id="chartContainerTicket" style="height: 370px; width: 100%;"> @ViewBag.DataPoints</div>
    </div>
</div>


@*==============================================Ticket Status Pie Chart===============================*@
<script>
    window.onload = function () {
        var chartT = new CanvasJS.Chart("chartContainerTicket", {
	    theme: "light2", // "light1", "light2", "dark1", "dark2"
	    exportEnabled: true,
	    animationEnabled: true,
	    title: {
		    text: "Ticket Status",
		    fontSize: 21
	    },
	    data: [{
		    type: "pie",
            startAngle: 160,
            toolTipContent: "<b>{label}</b>: {y}%",
            showInLegend: "true",
            legendText: "{label}",
		    toolTipContent: "<b>{label}</b>: {y}",
            indexLabel: "{label} - {y}",
		    dataPoints:  @Html.Raw(ViewBag.DataPoints)
	    }]
    });

        chartT.render();

         var chart = new CanvasJS.Chart("chartContainer", {
            animationEnabled: true,
            theme: "light2",
            title: {
                text: "Number of Users under Each Role & Institutions",
                fontSize: 21
            },
            axisY: {
                title: "No. of Users"
            },
            data: [{
                type: "column",
                dataPoints: @Html.Raw(ViewBag.UserDataPoint)
            }]
        });
        chart.render();

}
</script>

@*===================================User Ring Chart=================================*@
@*<script>
window.onload = function () {


}
</script>*@

<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>

