@model IncidentManagementSystem.Model.SearchByDateDto
@{
    ViewBag.Title = "Dashboard";
}

<style>
  .row {
     background-color:white;
      margin-left:32px;
      margin-right:32px;
      padding:24px 24px 24px 24px;
      border-radius:12px;
      margin-top: 25px;

  }

    h2 {
        margin-left: 32px;
        margin-bottom: 24px;
        
    }


</style>




@using (Html.BeginForm("Dashboard", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{<h2>Dashboard</h2>
    <div class="row">
        
        <div class="form">
            <div class="form-group">
                @Html.LabelFor(model => model.search, "Search:")
                @Html.EditorFor(model => model.search, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.search, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.startDate, "Current Date:")
                @Html.EditorFor(model => model.startDate, new { htmlAttributes = new { @class = "form-control", max = DateTime.Today.ToString("yyyy-MM-dd") } })
                @Html.ValidationMessageFor(model => model.startDate, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                @Html.LabelFor(model => model.endDate, "End Date:")
                @Html.EditorFor(model => model.endDate, new { htmlAttributes = new { @class = "form-control", max = DateTime.Today.ToString("yyyy-MM-dd") } })
                @Html.ValidationMessageFor(model => model.endDate, "", new { @class = "text-danger" })

            </div>
        </div>
        <div class="col-md-4">
            <br />
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
        <div class="col-md-4">
            <br />
            <button type="submit" class="btn btn-primary">create</button>
        </div>
    </div>

    <div class="partial-view">
        <h2>Detail</h2>
    </div>

}