@model IncidentManagementSystem.Model.AdminDashboardDto
<div class="row">
    <div class="col-md-2 txt">
        <span>Dashboard </span>
        <hr>
    </div>
</div>

<style>


    @@font-face {
        font-family: 'outfit-black';
        src: url('../font/outfit-light.ttf') format('truetype'), url('../font/outfit-regular.ttf') format('truetype'), url('../font/outfit-semibold.ttf') format('truetype');
        font-weight: 300,400,600;
    }

    .txt {
        font-family: outfit-black;
        font-size: 16px;
        font-weight: 600;
        /*margin-left: 15px;*/
    }

    hr {
        display: block;
        margin-block-start: -0.25em;
        margin-block-end: 0.5em;
        margin-inline-start: auto;
        margin-inline-end: auto;
        unicode-bidi: isolate;
        overflow: hidden;
        border-style: inset;
        border-width: 1px;
        border-top: 2px solid #000000;
        width: 79.92px;
        text-align: left;
        margin-left: 0;
    }

    .hidden {
        display: none; /* Hides the element */
        /* Alternatively, use visibility: hidden; if you want to keep the space occupied */
        /* visibility: hidden; */
    }



    .icon i {
        transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    }

        .icon i:hover {
            color: rgba(0, 0, 0, .15);
            transform: scale(1.1);
        }

    .small-box a {
        transition: color 0.3s, transform 0.3s, background-color 0.3s ease;
    }

        .small-box a:hover {
            color: #FFFFFF;
            background-color: rgba(0, 0, 0, .2);
        }

    .small-box {
        border-radius: .25rem;
        box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
        display: block;
        margin-bottom: 20px;
        position: relative;
        box-sizing: border-box;
        color: #fff !important;
    }

        .small-box .inner {
            padding: 10px;
        }

        .small-box .icon {
            color: rgba(0, 0, 0, .15);
            font-size: 70px;
            position: absolute;
            right: 15px;
            top: -13px;
            transition: -webkit-transform .3s linear;
            transition: transform .3s linear;
            transition: transform .3s linear, -webkit-transform .3s linear;
        }

        .small-box .small-box-fotter {
            background-color: rgba(0, 0, 0, .1);
            color: rgba(255, 255, 255, .8);
            display: block;
            padding: 3px 0;
            position: relative;
            text-align: center;
            text-decoration: none;
            z-index: 10;
        }

    .small-box-fotter .size {
        font-family: outfit-black;
        font-size: 16px;
        color: #fff !important;
    }

    .bg-info {
        color: #fff !important;
    }

    .Font {
        font-size: 16px;
        font-family: outfit-black;
        font-weight: 400;
    }

    #chartContainerTicket {
        font-family: 'Outfit-Black' !important;
    }
    /* Hide CanvasJS credit link */
    .canvasjs-chart-credit {
        display: none !important;
    }

    .canvasjs-chart-toolbar {
        display: none !important;
    }

    .canvasjs-chart-canvas {
        width: 100%;
        height: 310px;
        font-Family: "outfit- black" !important;
    }

    /* .toolTipContent {
        font-Family: "outfit-black"
    }
    .canvasjs-chart-tooltip {
        font-family: "outfit-black" !important;
        font-size: 16px;
    }*/
    #partialTicketActivityContainer {
        padding: 5px;
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
</style>
@using (Html.BeginForm("RecentTicketActivity", "Home", FormMethod.Get, new { id = "TicketActivityForm", enctype = "multipart/form-data" }))
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
                <div class="small-box bg-info">
                    <div class="inner">
                        <span class="Font">User</span>
                        <h4>@ViewBag.TotalUsers</h4>
                    </div>
                    <div class="icon">
                        <i class='bx bxs-user'></i>
                    </div>
                    <a href="@Url.Action("Index", "User")" class="small-box-fotter">
                        <span class="size">More Info</span>
                        <i class='bx bxs-right-arrow-circle size'></i>
                    </a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="small-box bg-info">
                    <div class="inner">
                        <span class="Font">Institution</span>

                        <h4>@ViewBag.TotalInstitution</h4>
                    </div>
                    <div class="icon">
                        <i class='bx bxs-bank'></i>
                    </div>
                    <a href="@Url.Action("Index", "Institution")" class="small-box-fotter">

                        <span class="size">More Info</span>
                        <i class='bx bxs-right-arrow-circle size'></i>
                    </a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="small-box bg-warning">
                    <div class="inner">
                        <span class="Font">Ticket Panding</span>

                        <h4>@ViewBag.TotalPandinglist</h4>
                    </div>
                    <div class="icon">
                        <i class='bx bxs-timer'></i>
                    </div>
                    <a href="@Url.Action("Index", "Ticket", new { status = "98"})" class="small-box-fotter link" id="pending">
                        @{
                            TempData["status"] = "98";
                        }
                        <span class="size">More Info</span>
                        <i class='bx bxs-right-arrow-circle size'></i>
                    </a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="small-box bg-success">
                    <div class="inner">
                        <span class="Font">Ticket Resolved</span>

                        <h4>@ViewBag.TotalTicketResolve</h4>
                    </div>
                    <div class="icon">
                        <i class='bx bxs-check-circle'></i>
                    </div>
                    <a href="@Url.Action("Index", "Ticket", new { status = "00"})" class="small-box-fotter">
                        @{
                            TempData["status"] = "00";
                        }
                        <span class="size">More Info</span>
                        <i class='bx bxs-right-arrow-circle size'></i>
                    </a>
                </div>
            </div>

        </div>
        <div class="row">
            <!-- Chart Containers -->
            <div class="col-md-4 col-sm-12 mb-4">
                <div id="chartContainerTicket" style="height: 310px; width: 100%; ">
                    <canvas class="canvasjs-chart-canvas"></canvas>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 mb-4">
                <div id="chartContainerService" style="height: 310px; width: 100%;">
                    <canvas class="canvasjs-chart-canvas"></canvas>
                </div>
            </div>

            <div class="col-md-4 col-sm-12 mb-4">
                <div id="chartContainer" style="height: 310px; width: 100%;">
                    <canvas class="canvasjs-chart-canvas"></canvas>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Recent Activity -->
            <div class="col-md-4 col-sm-12 mb-3">
                <div class="bg-white p-2" style="height: 310px; width: 100%;">
                    <div class="txt">
                        <span>Recent Activity</span>
                    </div>
                    <div id="partialTicketActivityContainer">
                        @Html.Action("RecentTicketActivity")
                    </div>
                </div>
            </div>

            <!-- Recent Status -->
            <div class="col-md-4 col-sm-12 mb-3">
                <div class="bg-white p-2" style="height: 310px; width: 100%;">
                    <div class="txt">
                        <span>Recent Status</span>
                    </div>
                    <div id="partialTicketActivityContainer1">
                        @Html.Action("RecentTicketStatus")
                    </div>
                </div>
            </div>

            @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin") || User.IsInRole("Developer"))
            {

                <!-- Institution Chart -->
                <div class="col-md-4 mb-3">
                    <div id="chartContainerInstution" style="height: 310px; width: 100%;">
                        <canvas class="canvasjs-chart-canvas"></canvas>
                    </div>
                </div>
            }
        </div>

    </div>

}


@*==============================================Ticket Status Pie Chart===============================*@
<script>
    window.onload = function () {
        var canvas = document.querySelector('.canvasjs-chart-canvas');
        canvas.width = canvas.offsetWidth


                var chartT = new CanvasJS.Chart("chartContainerTicket", {
	            theme: "light2", // "light1", "light2", "dark1", "dark2"
	            exportEnabled: true,
	            animationEnabled: true,
	            title: {
		            text: "Ticket Status",
                    fontSize: 16,
                    fontFamily: "outfit-black"
                    },
                    toolTip: {
                        fontSize: 14,
                        fontFamily: "outfit-black"
                    },
                    legend: {
                        fontSize: 12,
                        fontFamily: "outfit-black"
                    },
	            data: [{
		            type: "pie",
                    startAngle: 160,
                    showInLegend: "true",
                    legendText: "{label}",
                    toolTipContent: "<b>{label}</b>: {y}",
                    indexLabel: "{label} - {y}",
                    indexLabelFontSize: 12,
                    indexLabelFontFamily: "outfit-black",
                    toolTipFontFamily: "outfit-black",
		            dataPoints:  @Html.Raw(ViewBag.DataPoints)
	            }]
             });

             chartT.render();



            var chartData = @Html.Raw(ViewBag.TicketDetailByMonth);
            var chart = new CanvasJS.Chart("chartContainer", {
	            animationEnabled: true,
	            title: {
                    text: "Ticket Generated in Month",
                    fontSize: 16,
                    fontFamily: "outfit-black",
                    fontWeight: "bold"
	            },
	            toolTip: {
                    shared: true,
                    fontSize: 14,
                    fontFamily: "outfit-black",
                },
                legend: {
                    fontFamily: "outfit-black",
                },
                axisX: {
                    labelFontSize: 20,
                    labelFontStyle: "outfit-black"
                },
	            data: [{
		            type: "line",
                    legendText: "Tickets",

                    showInLegend: true,

		            dataPoints:chartData.map(function (item) {
                            return { label: item.label, y: item.y };
                    })

	            }]
            });
                chart.render();


            var chart = new CanvasJS.Chart("chartContainerService", {
	                animationEnabled: true,
	                title: {
                        text: "In Which Service Most Ticket Created",
                        fontSize: 16,
                        fontFamily: "outfit-black",
                        fontWeight: "bold"

                },
                toolTip: {
                    fontSize: 14,
                    fontFamily: "outfit-black"
                },

	                data: [{
		                type: "doughnut",
		                startAngle: 60,
                        indexLabelFontSize: 12,
                        indexLabelFontFamily: "outfit-black",
		                indexLabel: "{label} - {y}",
                        toolTipContent: "<b>{label}:</b> {y}%",
                        //toolTipFontSize: 40,
                        //toolTipFontFamily: "outfit-black",
                        //toolTipFontWeight: "400",
		                dataPoints: @Html.Raw(ViewBag.DataServicesBase)
	                }]
                });
            chart.render();

            var chart = new CanvasJS.Chart("chartContainerInstution", {
	            animationEnabled: true,
	            theme: "light2", // "light1", "dark1", "dark2"
	            exportEnabled: true,
	            title: {
                    text: "Number of ticket Generate by Institution",
                    fontSize: 16,
                    fontFamily: "outfit-black",
                      fontWeight: "bold"
                },
                toolTip: {
                    fontSize: 12,
                    fontFamily: "outfit-black"
                },
                axisX: {

                    labelFontStyle: "outfit-black"

                    /*labelFontSize: 14*/

                },
	            data: [{
                    type: "column",

                    dataPoints:  @Html.Raw(ViewBag.dataInstitutionBase)

	            }]
            });
            chart.render();
         }



        $(document).ready(function () {
            $.ajax({
                url: $('#TicketActivityForm', "Home").attr('action'),
                type: 'GET',
                success: function (result) {
                    $('#partialTicketActivityContainer').html(result);
                },
                error: function (xhr, status, error) {
                    alert('Error: ' + error);
                }
            });

            $.ajax({
                url: $('#TicketActivityForm', "Home").attr('action'),
                type: 'GET',
                success: function (result) {
                    $('#partialTicketActivityContainer').html(result);
                },
                error: function (xhr, status, error) {
                    alert('Error: ' + error);
                }
            });
            $.ajax({
                url: $('#TicketActivityForm', "Home").attr('action'),
                type: 'GET',
                success: function (result) {
                    $('#partialTicketActivityContainer2').html(result);
                },
                error: function (xhr, status, error) {
                    alert('Error: ' + error);
                }
            });
            //$('#TicketActivityForm').submit(function (event) {
            //    debugger;
            //    event.preventDefault();
            //    $.ajax({
            //        url: $(this).attr('action'),
            //        type: $(this).attr('method'),
            //        data: $(this).serialize(),
            //        success: function (result) {
            //            $('#partialTicketActivityContainer').html(result);
            //        },
            //        error: function (xhr, status, error) {
            //            alert('Error: ' + error);
            //        }
            //    });
            //});

        });

</script>

<script src="~/CustomContent/canva/canvasjs-chart-3.10.5/canvasjs.min.js"></script>
<script src="~/CustomContent/canva/canvasjs-chart-3.10.5/jquery.canvasjs.min.js"></script>


