@model IncidentManagementSystem.Model.AdminDashboardDto
<div class="row">
    <div class="col-md-2 txt">
        <span>Dashboard </span>
        <hr>
    </div>
</div>

<style>
    .txt {
        font-family: outfit-black;
        font-size: 16px;
        font-weight: 600;
        /*margin-left: 15px;*/
    }

    hr {
        display: block;
        margin-block-start: -0.25em;
        margin-block-end: 0.5em;
        margin-inline-start: auto;
        margin-inline-end: auto;
        unicode-bidi: isolate;
        overflow: hidden;
        border-style: inset;
        border-width: 1px;
        border-top: 2px solid #000000;
        width: 79.92px;
        text-align: left;
        margin-left: 0;
    }

    .hidden {
        display: none; /* Hides the element */
        /* Alternatively, use visibility: hidden; if you want to keep the space occupied */
        /* visibility: hidden; */
    }

    .col-6 {
        padding-right: 7.5px;
        padding-left: 7.5px;
    }


    .icon i {
        transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    }

        .icon i:hover {
            color: rgba(0, 0, 0, .15);
            transform: scale(1.1);
        }

    .small-box a {
        transition: color 0.3s, transform 0.3s, background-color 0.3s ease;
    }

        .small-box a:hover {
            color: #FFFFFF;
            background-color: rgba(0, 0, 0, .2);
        }

    .small-box {
        border-radius: .25rem;
        box-shadow: 0 0 1px rgba(0, 0, 0, .125), 0 1px 3px rgba(0, 0, 0, .2);
        display: block;
        margin-bottom: 20px;
        position: relative;
        box-sizing: border-box;
        color: #fff !important;
    }

        .small-box .inner {
            padding: 10px;
        }

        .small-box .icon {
            color: rgba(0, 0, 0, .15);
            font-size: 70px;
            position: absolute;
            right: 15px;
            top: -5px;
            transition: -webkit-transform .3s linear;
            transition: transform .3s linear;
            transition: transform .3s linear, -webkit-transform .3s linear;
        }

        .small-box .small-box-fotter {
            background-color: rgba(0, 0, 0, .1);
            color: rgba(255, 255, 255, .8);
            display: block;
            padding: 3px 0;
            position: relative;
            text-align: center;
            text-decoration: none;
            z-index: 10;
        }

    .small-box-fotter .size {
        font-size: 16px;
        color: #fff !important;
    }

    .bg-info {
        color: #fff !important;
    }

    .Font {
        font-size: 24px;
        font-family: outfit-black;
        font-weight: 400;
    }

    /* Hide CanvasJS credit link */
    .canvasjs-chart-credit {
        display: none !important;
    }

    .canvasjs-chart-toolbar {
        display: none !important;
    }

    @@media (max-width: 768px) {
        .col-md-8, .col-md-4 {
            width: 100% !important;
            margin-top: 20px;
        }

        .row {
            margin-right: 0;
            margin-left: 0;
        }
    }
/*
    .container-fluid .row {
        margin-right: -30px !important;
        margin-left: -30px !important;
    }*/
</style>
@using (Html.BeginForm("RecentTicketActivity", "Home", FormMethod.Get, new { id = "TicketActivityForm", enctype = "multipart/form-data" }))
{
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3">
                <div class="small-box bg-info">
                    <div class="inner">
                        <span class="Font">User</span>
                        <h3>@ViewBag.TotalUsers</h3>
                    </div>
                    <div class="icon">
                        <i class='bx bxs-user'></i>
                    </div>
                    <a href="@Url.Action("Index", "User")" class="small-box-fotter">
                        <span class="size">More Info</span>
                        <i class='bx bxs-right-arrow-circle size'></i>
                    </a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="small-box bg-info">
                    <div class="inner">
                        <span class="Font">Institution</span>

                        <h3>@ViewBag.TotalInstitution</h3>
                    </div>
                    <div class="icon">
                        <i class='bx bxs-bank'></i>
                    </div>
                    <a href="@Url.Action("Index", "Institution")" class="small-box-fotter">
                        <span class="size">More Info</span>
                        <i class='bx bxs-right-arrow-circle size'></i>
                    </a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="small-box bg-warning">
                    <div class="inner">
                        <span class="Font">Ticket Panding</span>

                        <h3>@ViewBag.TotalPandinglist</h3>
                    </div>
                    <div class="icon">
                        <i class='bx bxs-timer'></i>
                    </div>
                    <a href="#" class="small-box-fotter">
                        <span class="size">More Info</span>
                        <i class='bx bxs-right-arrow-circle size'></i>
                    </a>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <div class="small-box bg-success">
                    <div class="inner">
                        <span class="Font">Ticket Resolved</span>

                        <h3>@ViewBag.TotalTicketResolve</h3>
                    </div>
                    <div class="icon">
                        <i class='bx bxs-check-circle'></i>
                    </div>
                    <a href="#" class="small-box-fotter">
                        <span class="size">More Info</span>
                        <i class='bx bxs-right-arrow-circle size'></i>
                    </a>
                </div>
            </div>

        </div>
        <div class="row">
            <!-- Chart Containers -->
            <div class="col-md-4 col-sm-12 mb-4">
                <div id="chartContainerTicket" style="height: 300px; width: auto;"></div>
            </div>

            <div class="col-md-4 col-sm-12 mb-4">
                <div id="chartContainerService" style="height: 300px; width: auto;"></div>
            </div>

            <div class="col-md-4 col-sm-12 mb-4">
                <div id="chartContainer" style="height: 300px; width: auto;"></div>
            </div>
        </div>

        <div class="row">
            <!-- Recent Activity -->
            <div class="col-md-4 col-sm-12 mb-4">
                <div class="bg-white p-2">
                    <div class="txt">
                        <span>Recent Activity</span>
                    </div>
                    <div id="partialTicketActivityContainer">
                        @Html.Action("RecentTicketActivity")
                    </div>
                </div>
            </div>

            <!-- Recent Status -->
            <div class="col-md-4 col-sm-12 mb-4">
                <div class="bg-white p-2">
                    <div class="txt">
                        <span>Recent Status</span>
                    </div>
                    <div id="partialTicketActivityContainer">
                        @Html.Action("RecentTicketStatus")
                    </div>
                </div>
            </div>
            <!-- Institution Chart -->
            <div class="col-md-4 mb-4">
                <div id="chartContainerInstution" style="height: 300px; width: 100%;"></div>
            </div>
        </div>

    </div>
   
      
  


}


@*==============================================Ticket Status Pie Chart===============================*@
<script>
         window.onload = function () {
                var chartT = new CanvasJS.Chart("chartContainerTicket", {
	            theme: "light2", // "light1", "light2", "dark1", "dark2"
	            exportEnabled: true,
	            animationEnabled: true,
	            title: {
		            text: "Ticket Status",
		            fontSize: 21
	            },
	            data: [{
		            type: "pie",
                    startAngle: 160,
                    toolTipContent: "<b>{label}</b>: {y}%",
                    showInLegend: "true",
                    legendText: "{label}",
		            toolTipContent: "<b>{label}</b>: {y}",
                    indexLabel: "{label} - {y}",
		            dataPoints:  @Html.Raw(ViewBag.DataPoints)
	            }]
             });

             chartT.render();

             // Adjust chart on window resize
             window.addEventListener('resize', function () {
                 chart.render();
             });

            var chartData = @Html.Raw(ViewBag.TicketDetailByMonth);
            var chart = new CanvasJS.Chart("chartContainer", {
	            animationEnabled: true,
	            title: {
                    text: "Ticket Generated in Month",
                    fontSize: 21
	            },
	            toolTip: {
		            shared: true
	            },
	            data: [{
		            type: "line",
		            name: "Tickets",
		            showInLegend: true,
		            dataPoints:chartData.map(function (item) {
                            return { label: item.label, y: item.y };
                    })

	            }]
            });
                chart.render();


            var chart = new CanvasJS.Chart("chartContainerService", {
	                animationEnabled: true,
	                title: {
                        text: "In Which Service Most Ticket Created",
                         fontSize: 21
	                },
	                data: [{
		                type: "doughnut",
		                startAngle: 60,
		                indexLabelFontSize: 16,
		                indexLabel: "{label} - {y}%",
		                toolTipContent: "<b>{label}:</b> {y}%",
		                dataPoints: @Html.Raw(ViewBag.DataServicesBase)
	                }]
                });
            chart.render();

            var chart = new CanvasJS.Chart("chartContainerInstution", {
	            animationEnabled: true,
	            theme: "light2", // "light1", "dark1", "dark2"
	            exportEnabled: true,
	            title: {
                    text: "Number of ticket Generate by Institution",
                    fontSize: 21
	            },
	            data: [{
		            type: "column",
		            dataPoints:  @Html.Raw(ViewBag.dataInstitutionBase)
	            }]
            });
            chart.render();
         }



        $(document).ready(function () {
            $.ajax({
                url: $('#TicketActivityForm', "Home").attr('action'),
                type: 'GET',
                success: function (result) {
                    $('#partialTicketActivityContainer').html(result);
                },
                error: function (xhr, status, error) {
                    alert('Error: ' + error);
                }
            });

            $.ajax({
                url: $('#TicketActivityForm', "Home").attr('action'),
                type: 'GET',
                success: function (result) {
                    $('#partialTicketActivityContainer').html(result);
                },
                error: function (xhr, status, error) {
                    alert('Error: ' + error);
                }
            });
            //$('#TicketActivityForm').submit(function (event) {
            //    debugger;
            //    event.preventDefault();
            //    $.ajax({
            //        url: $(this).attr('action'),
            //        type: $(this).attr('method'),
            //        data: $(this).serialize(),
            //        success: function (result) {
            //            $('#partialTicketActivityContainer').html(result);
            //        },
            //        error: function (xhr, status, error) {
            //            alert('Error: ' + error);
            //        }
            //    });
            //});

        });

</script>


<script src="~/canva/canvasjs-chart-3.10.5/canvasjs.min.js"></script>
<script src="~/canva/canvasjs-chart-3.10.5/jquery.canvasjs.min.js"></script>


